{% if user.is_authenticated %}
<div id="save-button-{{ job.public_id }}" style="{% if extra_classes != '' %}display:block;{% else %}display:inline-block;{% endif %}">
    {% if is_saved %}
        <form method="POST" action="{% url 'jobs:unsave' job.public_id %}" hx-post="{% url 'jobs:unsave' job.public_id %}" hx-target="{% if remove_card %}#saved-job-card-{{ job.public_id }}{% else %}#save-button-{{ job.public_id }}{% endif %}" hx-swap="outerHTML" style="margin:0;">
            {% csrf_token %}
            {% if remove_card %}<input type="hidden" name="remove_card" value="1">{% endif %}
            <button type="submit" class="btn save{% if is_saved %} saved{% endif %}{% if extra_classes %} {{ extra_classes }}{% endif %}">
                Sauvegardé
            </button>
        </form>
    {% else %}
        <form method="POST" action="{% url 'jobs:save' job.public_id %}" hx-post="{% url 'jobs:save' job.public_id %}" hx-target="#save-button-{{ job.public_id }}" hx-swap="outerHTML" style="margin:0;">
            {% csrf_token %}
            <button type="submit" class="btn save{% if is_saved %} saved{% endif %}{% if extra_classes %} {{ extra_classes }}{% endif %}">
                Sauvegarder
            </button>
        </form>
    {% endif %}
</div>
{% endif %}
